*{
  box-sizing: border-box;  
}

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.container {
width: 1060px;
margin: 0 auto;
}

@font-face {
	font-family: 'GothaPro';
	src: url('./fonts/GothaProBol.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GothaPro';
	src: url('./fonts/GothaProLig.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GothaPro';
	src: url('./fonts/GothaProLigIta.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}
/* header styles */

.header {
  min-height: 74 px;
  background-color: #27273e;
  padding: 13px 0;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotype {
  display: inline-block;
  text-align: left;
 }

 .lpgptype__picture {
   max-height: 100%;
 }

.contacts {
  font-weight: 700;
  text-align: right;
}

.contacts__phone { 
 font-family: 'GothaPro', Open Sans, sans-serif; 
 font-weight: 700;     
 color: #ffffff;  
 font-size: 21px;
 text-decoration: none;
 display: block;
}

.contacts__hours {
  text-decoration: underline;
  color: #7e2454;
  font-weight: 700;
  font-size: 14px;
}

/* main styles */

.banner {
  text-align: right;
  background-color: #27273e;
}

.banner__picture {
  max-height: 100%;
} 

.general-content {
padding: 70px 0px;
width: 100%;
width: 1060px;
margin: 0 auto;
}

.general-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sidebar {
  margin-right: 77px;
}

.nav__item {
  padding: 0px 0px 35px;
}

.nav__item:last-child {
  padding: 0px;
}

.nav__link {
  color: #ef508f;
  font-family: 'GothaPro', Open Sans, sans-serif; 
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav__link--main {
  color: #000000
}

.nav__link:hover {
  color: #262626;
}

.nav__link:before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  color: #262626;
  margin-right: 22px;
  background: center center / contain no-repeat;
}

.nav__link--main:before {
  background-image: url(img/main_icon.png);
}

.nav__link--feedback:before {
  background-image: url(img/feed_icon.png);
}

.nav__link--feedback:hover:before {
  background-image: url(img/feed_icon--black.png);
}

.nav__link--prices:before {
  background-image: url(img/wallet_icon.png);
}

.nav__link--prices:hover:before {
  background-image: url(img/wallet_icon-black.png);
}

.title {
  color: #221f1f;
  font-family: 'GothaPro', Open Sans, sans-serif; 
  font-weight: 700;
  font-size: 49px;
  margin: 0px;
  text-align: left;
}

.features__title {
  margin-bottom: 65px;
}

.features__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__block {
  margin-right: 67px;
  text-align: center;
}

.features__block:last-child {
  margin-right: 0;
}

.features__icon{
  display: inline-block;
  height: 72px;
  width: 72px;
  background-color: #27273e;
  border-radius: 50%;
  position: relative;
}

.features__icon:before {
  content: "";
  display: inline-block;
  height: 31px;
  width: 28px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
  

.flower:before {
  background: url(img/flower.png) center center;
}


.star:before {
  background: url(img/mark-as-favorite-star.png) center center;
} 

.palette:before {
  background: url(img/painter-palette.png) center center;
}

.feature__name {
  font-family: 'GothaPro', Open Sans, sans-serif; 
  font-weight: 700;
  font-style: normal;
  margin-bottom: 22px;
  font-size: 10,78px;  
  text-transform: uppercase;
  margin: 34px 0px 28px;
}

.feature__text {
  font-family: 'GothaPro', Open Sans, sans-serif; 
  font-weight: 300;
  font-style: normal;
  margin-bottom: 22px;
  font-size: 18px;  
}

.feature__bulletpoint {
  font-family: 'GothaPro', Open Sans, sans-serif; 
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 22px;
  text-align: left;
  position: relative;
}

.feature__bulletpoint:last-child {
  margin-bottom: 0px;
}

.feature__bulletpoint:before {
  content: "";
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #cc3366;
  vertical-align: middle;
  margin-right: 30px;
} 

.news__title {
  padding: 95px 0px 82px;
}

.block-content__feedback {
  display: flex;
  justify-content: space-between;
}

.block-content__feedback {
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.block-content__feedback:last-child {
  border-bottom: none;
  padding-bottom: none;
  margin-bottom: 68px;
}

.block-content__picture {
  content: "";
  margin-right: 20px;
  border-radius: 50%;
  height: 161px;
  width: 161px;
  max-height: 100%;
  flex-shrink: 0;
}

.space {
 background-image: url(img/space.png);
}

.fire {
  background-image: url(img/fire.png);
 }

 .laptop {
  background-image: url(img/laptop.png);
 }

.block-content__description {
  display: inline-block;
  width: 78%;
  text-align: center;
}

.block-content__date {
  font-family: 'GothaPro';
  font-weight: 300;
  text-align: left;
  margin-bottom: 14px;
  color: #989898;
  font-size: 14px;
}

.block-content__title {
  font-family: 'GothaPro';
  font-weight: 700;
  text-align: left;
  margin-bottom: 18px;
  font-size: 18px;
}

.block-content__text {
  font-family: 'GothaPro';
  font-weight: 300;
  text-align: left; 
  font-size: 14px;
  line-height: 170%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__description {
  margin-right: 21px;
}

.pagination__pages {
  display: flex;
  align-items: center;
  text-align: left;
}

.pagination__button {
  display: inline-block;
  height: 12px;
  width: 7px;
  background-repeat: no-repeat;
}

.left {
  margin-right: 16px;
  background: url(img/left-arrow.png) center center;
}

.right {
  margin-left: 16px;
  background-image: url(img/right-arrow.png);
}

.pagination__list {
  display: flex;
}

.pagination__item {
  display: inline-block;
  font-family: 'GothaPro', Open Sans, sans-serif; 
  font-weight: 700;  
  font-size: 14px;
  text-align: center;
}

.pagination__link {
  display: inline-block;
  text-decoration: none;
  color: #7a7979;
  font-family: 'GothaPro', Open Sans, sans-serif; 
  font-weight: 700;
  width: 34px;
  padding: 9px 0;
} 

.pagination__link:hover {
  background: #262626;
  color: #ffffff;
}

/* footer styles */

.footer {
  min-height: 74 px;
  background-color: #27273e;
}

.container--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__description {
  height: 49px;
  width: 276px;
  text-align: left;
  margin-right: 216px;
  color: #ffffff;
 }

 .loftschool {
  color: #ffffff;
  font-weight: 700;
 }

 .footer__author {
   font-weight: 700;
 }

 .logotype--footer {
  text-align: center;
  margin-right: 280px;
 }

.social {
  text-align: right;
}

.social__description {
  font-family: 'GothaPro', Open Sans, sans-serif; 
  font-weight: 700;  
  font-size: 14px;
  text-align: right;
  color: #ffffff;
  margin-bottom: 12px;  
}

.social__items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social__picture {
  margin-right: 10px;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  background-color:#d4d4d8;
  position: relative;
  text-align: left;
}

.social__picture:last-child {
  margin-right: 0;
}

.social__picture:before {
  content: "";
  display: inline-block;
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.vk:before {
    background: url(img/vk.png) center center;
    background-repeat: no-repeat;
}

.fb:before {
  background: url(img/fb.png) center center;
  background-repeat: no-repeat;
}

.google:before {
  background: url(img/google.png) center center;
  background-repeat: no-repeat;
}

.twitter:before {
  background: url(img/twitter.png) center center;
  background-repeat: no-repeat;
}

.mail:before {
  background: url(img/mail.png) center center;
  background-repeat: no-repeat;
}

.social__picture:hover {
  background-color: #cc3366;
}

